.completed-orders {
    width: 90%;
    margin: 20px auto;
    color: var(--text-color);
    font-size: 16px;
  }
  
  @media (min-width: 768px) {
    .completed-orders {
      width: 70%;
      margin-left: max(5vw, 25px);
      margin-top: 50px;
    }
  }
  
  .completed-orders h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--text-color);
  }
  
  .completed-order-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .completed-order-item {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
    align-items: start;
    gap: 30px;
    border: 1px solid var(--primary-color);
    padding: 20px;
    margin: 30px 0;
    font-size: 14px;
    color: var(--text-color);
    background-color: var(--background-color);
    border-radius: 8px;
  }
  
  .completed-order-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .completed-order-item-food {
    font-weight: 600;
    color: var(--text-color);
  }
  
  .completed-order-item-name {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
    color: var(--text-color);
  }
  
  .completed-order-item-address {
    margin-bottom: 10px;
    color: var(--text-color);
  }
  
  .completed-order-item-phone {
    color: var(--text-color);
  }
  
  .completed-order-item-payment {
    color: var(--text-color);
  }
  
  .completed-status {
    font-weight: 600;
    color: var(--primary-color);
  }
  
  @media (max-width: 900px) {
    .completed-order-item {
      grid-template-columns: 1fr 2fr 1fr;
      gap: 15px;
      padding: 15px;
      font-size: 12px;
    }
  
    .completed-order-item img {
      width: 40px;
      height: 40px;
    }
  }
  
  @media (max-width: 600px) {
    .completed-order-item {
      grid-template-columns: 1fr;
      gap: 10px;
      padding: 10px;
    }
  
    .completed-order-item img {
      width: 30px;
      height: 30px;
    }
  }